.page_container {
  overflow: hidden;
  width: 100%;
  height: 94vh;
  padding: 2% 5%;
}

.page_container.hidden {
  display: none;
}

.search_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 7%;
  margin-bottom: 1%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search_row.archive {
  height: 8.75%;
}

.results_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  height: 93%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.results_container.hidden {
  display: none;
  height: 85%;
}

.search_tbx_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 60%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 15vw;
  margin-bottom: 2.75vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 0.5vw;
  cursor: pointer;
}

.result_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
}

.body {
  background-image: linear-gradient(135deg, #1f1e26, #0b0b0b);
  font-family: 'Droid Serif', serif;
  color: #fff;
}

.search_tbx {
  width: 100%;
  height: 100%;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1.25vw;
  line-height: 100%;
}

.add_edit_tbx_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.add_edit_input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.add_edit_tbx {
  width: 100%;
  height: 80%;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1vw;
  line-height: 100%;
}

.add_edit_input_spacer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add_edit_input_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  font-weight: 700;
  cursor: pointer;
}

.add_edit_input_lbl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.25vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1vw;
  line-height: 100%;
}

.add_edit_form_cntr {
  width: 80%;
}

.add_edit_icon_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  height: 20vh;
  margin-right: 1%;
  margin-left: 1%;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fff;
}

.add_edit_form_sect {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.add_edit_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 2vw;
  line-height: 100%;
  cursor: pointer;
}

.add_edit_button_disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #a8a8a8;
  color: #585858;
  font-size: 2vw;
  line-height: 100%;
}

.add_edit_input_tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.add_edit_input_lbl_tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3vh;
  margin-right: 0.25vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1vw;
  line-height: 100%;
}

.add_edit_tags_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 70%;
  height: 14vh;
  padding-top: 0.5vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  box-shadow: inset 1px 1px 3px 0 #000;
}

.add_edit_tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5vw;
  margin-bottom: 0.5vw;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  background-color: #3c3e46;
}

.add_edit_tag_txt {
  margin-right: 0.5vw;
  font-size: 1vw;
  line-height: 100%;
}

.add_edit_tag_x {
  font-size: 1vw;
  line-height: 100%;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 3vw;
  line-height: 100%;
}

.page_search_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 60%;
  margin-left: 0.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1.25vw;
  line-height: 100%;
  cursor: pointer;
}

.page_search_btn.disabled {
  background-color: #a8a8a8;
  cursor: auto;
}

.page_search_btn.archive_rmv {
  width: 15%;
}

.page_search_btn.archive_rmv.disabled {
  background-color: #a8a8a8;
  cursor: auto;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6vh;
}

.tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 86.7%, 0);
  color: #fff;
  font-size: 1.5vw;
  cursor: pointer;
}

.tab.w--current {
  background-color: #303030;
}

.tab.current {
  background-color: #303030;
}

.add_edit_input_btn_plus {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1.5vw;
  line-height: 100%;
  font-weight: 700;
  cursor: pointer;
}

.add_edit_input_btn_disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #a8a8a8;
  color: #585858;
  font-size: 1vw;
  line-height: 100%;
  font-weight: 700;
}

.add_edit_input_btn_plus_disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 80%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #a8a8a8;
  color: #585858;
  font-size: 1.5vw;
  line-height: 100%;
  font-weight: 700;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.add_edit_file {
  width: 100%;
  font-size: 1vw;
  line-height: 100%;
}

.add_import_opts_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.add_import_menu {
  position: absolute;
  display: none;
  width: 50.4vw;
  margin-top: 2.4vw;
  padding: 1vw 1%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #494f63;
  box-shadow: 4px 4px 5px 0 #000;
}

.add_import_opt {
  margin-right: 1vw;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  background-color: #3c3e46;
  box-shadow: 4px 4px 5px 0 #000;
  font-size: 0.8vw;
  line-height: 100%;
  cursor: pointer;
}

.add_import_tbx_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 78%;
  height: 3vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1vw;
  line-height: 100%;
}

.add_import_menu_submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 2.4vw;
  margin-left: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  cursor: pointer;
}

.add_import_tbx {
  width: 100%;
  height: 80%;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
}

.add_import_menu_close {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 2.4vw;
  margin-left: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  cursor: pointer;
}

.results_back_row {
  display: none;
  height: 7%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.res_back_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20vw;
  height: 3vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5vw;
  background-color: #fff;
  color: #000;
  font-size: 1.5vw;
  line-height: 100%;
  cursor: pointer;
}

.page_search_btn_disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 60%;
  margin-left: 0.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #a8a8a8;
  color: #000;
  font-size: 1.25vw;
  line-height: 100%;
  cursor: pointer;
}

.add_import_menu_submit_disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 2.4vw;
  margin-left: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #a8a8a8;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  cursor: pointer;
}

.error_box {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  display: none;
  min-height: 3vw;
  min-width: 30%;
  padding: 1vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5vw;
  background-color: rgba(255, 0, 0, 0.55);
  font-size: 1.5vw;
  line-height: 100%;
}

.batch_opt_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3vw;
  margin-bottom: 1vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.batch_results_cntr {
  overflow: scroll;
  height: 70%;
  margin-bottom: 1vw;
}

.batch_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.batch_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 80%;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1.5vw;
  line-height: 100%;
  cursor: pointer;
}

.batch_tbx_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 80%;
  margin-right: 0.25vw;
  margin-left: 0.5vw;
}

.batch_tbx {
  width: 100%;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1vw;
  line-height: 100%;
}

.batch_result_old {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 8vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.25);
}

.batch_res_col_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 25%;
  height: 100%;
  padding: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  white-space: nowrap;
}

.batch_res_col_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 15%;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  white-space: nowrap;
}

.batch_res_col_3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 40%;
  height: 100%;
  padding: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  white-space: nowrap;
}

.batch_result_exe {
  width: 10%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.batch_result_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  height: 50%;
  margin-right: 1%;
  margin-left: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  cursor: pointer;
}

.batch_result_btn.remove {
  background-color: #e46c6c;
}

.batch_submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1vw;
  padding-bottom: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 2vw;
  line-height: 100%;
  cursor: pointer;
}

.batch_btn_disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 80%;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #a8a8a8;
  color: #585858;
  font-size: 1.5vw;
  line-height: 100%;
}

.batch_submit_disabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1vw;
  padding-bottom: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #a8a8a8;
  color: #585858;
  font-size: 2vw;
  line-height: 100%;
}

.batch_res_tbx {
  width: 100%;
  height: 49%;
  margin-top: 0.5%;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1vw;
  line-height: 100%;
}

.batch_result_btn_diabled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  height: 50%;
  margin-right: 1%;
  margin-left: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #a8a8a8;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  cursor: auto;
}

.batch_result_btn_diabled.remove {
  background-color: #804545;
}

.batch_result_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 8vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.batch_result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.25);
}

.batch_res_tags_col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70vw;
  height: 100%;
  padding: 1vw;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.batch_res_icon {
  width: 11vw;
  height: 8vw;
}

.batch_result_tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 49%;
  margin-bottom: 0.5%;
  padding-top: 0.5vw;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  box-shadow: inset 1px 1px 3px 0 #000;
}

.batch_result_tags_tbx {
  width: 75%;
  height: 49%;
  margin-top: 0.5%;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1vw;
  line-height: 100%;
}

.batch_result_tags_add {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24%;
  height: 49%;
  margin-top: 0.5%;
  margin-left: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  font-weight: 700;
  cursor: pointer;
}

.batch_result_exe_opt {
  background-color: hsla(0, 0%, 100%, 0.2);
  color: #000;
}

.batch_form_spacer {
  width: 10%;
}

.catalog_page {
  display: block;
  width: 100%;
  height: 84%;
}

.catalog_page.hidden {
  display: none;
}

.search_combo {
  width: 100%;
  height: 100%;
  border-radius: 0.25vw;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
}

.mega_form_tbx {
  width: 100%;
  height: 48%;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1vw;
  line-height: 100%;
}

.tab_archive {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.43);
  color: #fff;
  font-size: 1.5vw;
  cursor: pointer;
}

.tab_archive.w--current {
  background-color: #303030;
}

.tab_archive.current {
  background-color: #303030;
}

.tab_archive.add {
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  background-color: hsla(0, 0%, 86.7%, 0.43);
}

.tab_catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 86.7%, 0);
  color: #fff;
  font-size: 1.5vw;
  cursor: pointer;
}

.tab_catalog.w--current {
  background-color: #303030;
}

.tab_catalog.current {
  background-color: #303030;
}

.archive_page {
  overflow: hidden;
  height: 82%;
}

.archive_page.hidden {
  display: none;
}

.tbs_mnu_catalog_sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 8%;
}

.tabs_menu_catalogs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6vh;
  margin-bottom: 1%;
}

.search_combo_cntr {
  display: none;
  width: 10%;
  height: 60%;
  margin-left: 0.5%;
}

.archive_add {
  position: fixed;
  left: 20vw;
  top: 35vh;
  right: 20vw;
  bottom: 20vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  height: 15vh;
  padding: 1% 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #333;
}

.archive_add.hidden {
  display: none;
}

.tbx {
  width: 100%;
  height: 80%;
  padding-right: 1vw;
  padding-left: 1vw;
  border-style: solid;
  border-width: 0.1vw;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1vw;
  line-height: 100%;
}

.add_archive_tbx_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  height: 100%;
  margin-right: 1%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.archive_add_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3vw;
  line-height: 100%;
}

.add_archive_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 14%;
  height: 80%;
  margin-left: 1%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1.25vw;
  line-height: 100%;
  cursor: pointer;
}

.add_archive_btn.disabled {
  background-color: #a8a8a8;
  cursor: auto;
}

.add_archive_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.archive_result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.25);
}

.archive_result_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.archive_res_col_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 23vw;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 1.5vw;
  line-height: 100%;
}

.archive_res_col_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 15vw;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  font-size: 1.5vw;
  line-height: 100%;
}

.archive_res_col_2._2_opt {
  width: 10.5vw;
}

.archive_res_icon {
  width: 13vw;
  height: 10vw;
}

.archive_result_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 8vw;
  height: 50%;
  margin-right: 0.5%;
  margin-left: 0.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.25);
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  cursor: pointer;
}

.archive_result_btn.archive_result_btn_disabled {
  background-color: #a8a8a8;
  cursor: auto;
}

.search_row_catelog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 8.33%;
  margin-bottom: 1%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab_ipfs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.43);
  color: #fff;
  font-size: 1.5vw;
  cursor: pointer;
}

.tab_ipfs.w--current {
  background-color: #303030;
}

.tab_ipfs.current {
  background-color: #303030;
}

.tab_ipfs.add {
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  background-color: hsla(0, 0%, 86.7%, 0.43);
}

.add_archive_tbx_cntr_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.archive_res_col_4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 15vw;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 1.5vw;
  line-height: 100%;
}

.archive_res_col_4.opt_2 {
  width: 10.5vw;
}

.archive_res_col_3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 15vw;
  height: 100%;
  padding-top: 1vw;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 1.5vw;
  line-height: 100%;
}

.downloads_cntr {
  overflow: scroll;
  height: 90%;
}

.download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vw;
  margin-bottom: 0.5vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #444;
  background-color: hsla(0, 0%, 100%, 0.04);
}

.download_icon {
  width: 13vw;
  height: 10vw;
}

.download_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 6.33vw;
  height: 50%;
  margin-right: 0.5%;
  margin-left: 0.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.25);
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1vw;
  line-height: 100%;
  cursor: pointer;
}

.download_btn.cancel {
  width: 21vw;
  background-color: #e46c6c;
}

.download_btn.cancel.disabled {
  background-color: #7f4545;
  cursor: auto;
}

.download_btn.cancel.hidden {
  display: none;
}

.download_btn.disabled {
  background-color: #a8a8a8;
  cursor: auto;
}

.download_btn.hidden {
  display: none;
}

.download_col_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 23vw;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 1.5vw;
  line-height: 100%;
}

.download_col_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 15vw;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  font-size: 1.5vw;
  line-height: 100%;
}

.download_col_3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 15vw;
  height: 100%;
  padding-right: 1vw;
  padding-left: 1vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.2);
  font-size: 1.5vw;
  line-height: 100%;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 13vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: none;
}

.text-block-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 23vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-copy-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-copy-copy-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 22vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search_results_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 99%;
  margin-right: 1%;
  margin-bottom: 0.5vw;
  padding-top: 1vw;
  padding-bottom: 0.5vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 0.25vw solid #fff;
  font-size: 2vw;
  line-height: 100%;
}

.download_failed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 6.33vw;
  height: 50%;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: red;
  font-size: 1vw;
  line-height: 10%;
}

.download_failed.hidden {
  display: none;
}

.config_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  padding-top: 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.settings_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3vw;
  margin-bottom: 1vw;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.config_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 80%;
  margin-right: 0.25vw;
  margin-left: 0.25vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25vw;
  background-color: #fff;
  color: #000;
  font-size: 1.5vw;
  line-height: 100%;
  cursor: pointer;
}

.config_btn.config_btn_disabled {
  background-color: #a8a8a8;
  cursor: auto;
}

.config_tbx_cntr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 80%;
  margin-right: 0.25vw;
  margin-left: 0.5vw;
}

.config_label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.settings_spacer {
  width: 10%;
}

.config_tbx {
  width: 100%;
  padding-right: 0.5vw;
  padding-left: 0.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0.25vw;
  background-color: transparent;
  font-size: 1vw;
  line-height: 100%;
}

.success_box {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  display: none;
  min-height: 3vw;
  min-width: 30%;
  padding: 1vw;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.5vw;
  background-color: rgba(43, 255, 0, 0.55);
  font-size: 1.5vw;
  line-height: 100%;
}

.download_success {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 6.33vw;
  height: 50%;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #08ff00;
  font-size: 1vw;
  line-height: 10%;
}

.download_success.hidden {
  display: none;
}

.search_spacer {
  width: 17%;
}

.archive_page_results {
  overflow: scroll;
  height: 90.25%;
}